.textfield
{
    
    width: 260px;
    height: 30px;
    box-shadow: 0px 0px 5px #000;

}
.textfield :hover
{
    border-color: #7dfa00;
    background-color: grey;
}
.button
{
    
    width: 50px;
    height:40px;
    background-color: gray;
    border-radius: 25px;
    border-color: gray; 
        box-shadow: 0px 0px 5px #000;
}
input.button[type=submit]:hover 
{
    background-color: #999999;
    
}